@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
 .special-pgh {
  margin-top: 8%;
  align-items: center;
  margin-left: 0 auto;
}
.special-pgh h2{
  text-align: center;
  font-size: 50px;
  font-family: 'Comfortaa', sans-serif;
  font-weight: bold;
}
.special-pgh p{
  margin-top: 2%;
  font-size: 25px;
  line-height: 2rem;
  width: 50%;
  margin-left: 25%;
}
.card-body {
  box-sizing: border-box;
  font-family: sans-serif;
}
.cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 50px;
}
 .cards {
  width: 325px;
  background-color:#15959e;
  border-radius: 30px;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
  overflow: hidden;
  transition: transform 0.6s ease;
}
 .cards:hover{
  transform: translateY(-20px);
}
.cards img {
  width: 100%;
  height: auto;
  object-fit: cover;
  opacity: .6;
}
.card-content {
  padding: 20px;
}
 .card-content h1 {
  font-size: 30px;
  margin-bottom: 10px;
  color: white;
  font-family: 'Comfortaa', sans-serif;
  font-weight: bold;
}
.card-content p{
  font-size: 20px;
  line-height: 2rem;
  font-family: calibri;
  margin-bottom: 20px;
  color: white;
}
 .card-content .link {
  display: flex;
  background-color: purple;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  padding: 8px 16px;
  margin-top: 5%;
  font-family: 'Comfortaa', sans-serif;
   font-size: 20px;
  transition: background-color 0.3s ease;
}
.card-content .link:hover {
  background-color: crimson;
  transition: background-color 0.3s ease;
}
.buttonContainer {
  display: inline;
  margin-left: 35%;
  justify-content: center;
  gap: 10px;
}
#dark-mode,
#light-mode,
#black-mode,
#blue-mode {
  width: 130px;
  margin-top: 20px;
  height: 35px;
  font-weight: bold;
  font-size: 15px;
  background-color: purple;
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-family: sans-serif;
}
#dark-mode:hover,
#light-mode:hover,
#black-mode:hover,
#blue-mode:hover {
  background-color: #217373;
  transition: background-color .4s;
}
.dark-mode {
  background-color: #192929;
  color: white;
  transition: background-color 1s;
}
.black-mode {
  background-color: black;
  color: white;
  transition: background-color 1s;
}
.light-mode {
  background-color: white;
  color: black;
  transition: background-color 1s;
}
.blue-mode {
  background-color: #206fac;
  color: white;
  transition: background-color 1s;
}

@media screen and (max-width: 768px) {
  .special-pgh {
    margin-top: 10%;
  }
}
@media screen and (max-width: 600px) {
  .special-pgh {
    margin-top: 17%;
  }
}